asgiref
django
djangorestframework
django-cors-headers
djangorestframework-simplejwt
drf-yasg
inflection
packaging
pillow
psycopg2
PyJWT
python-dotenv
pytz
PyYAML
sqlparse
typing_extensions
uritemplate
langchain
genai
langchain-google-genai
langchain-google-alloydb-pg
langchain-community
sentence-transformers
faiss-gpu
pypdf
gensim