{% extends 'base_without_footer.html' %}
{% load static %}
{% block title %}{{ product.name }}{% endblock title %}
{% block content %}
	<section class="section-content padding-y bg">
		<div class="container">
			
			<!-- ============================ COMPONENT 1 ================================= -->
			<div class="card">
				<div class="row no-gutters">
					<aside class="col-md-6">
						<article class="gallery-wrap"> 
							<div class="img-big-wrap">
								<!-- Usar el ID del producto para la URL de la imagen -->
								<a href="#"><img src="{{ product.image.url }}" alt="{{ product.name }}"></a>
							</div> <!-- img-big-wrap.// -->
						</article> <!-- gallery-wrap .end// -->
					</aside>
					<main class="col-md-6 border-left">
						<article class="content-body">
							<h2 class="title">{{ product.name }}</h2>
							
							<div class="mb-3"> 
								<var class="price h4">${{ product.price }}</var> 
							</div> 
							
							<p>{{ product.description }}</p>
							
							<hr>
							<div class="row">
								<div class="item-option-select">
									<h6>Choose Color</h6>
									<div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
										<label class="btn btn-light">
											<input type="radio" name="radio_color"> Silver
										</label>
										<label class="btn btn-light">
											<input type="radio" name="radio_color" > Gray
										</label>
										<label class="btn btn-light active">
											<input type="radio" name="radio_color checked"> Gold
										</label>
										<label class="btn btn-light">
											<input type="radio" name="radio_color"> Black
										</label>
									</div> 
								</div>
							</div> <!-- row.// -->
							<div class="row">
								<div class="item-option-select">
									<h6>Select Size</h6>
									<div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
										<label class="btn btn-light">
											<input type="radio" name="radio_size"> S
										</label>
										<label class="btn btn-light active">
											<input type="radio" name="radio_size" checked> M
										</label>
										<label class="btn btn-light">
											<input type="radio" name="radio_size"> L
										</label>
										<label class="btn btn-light">
											<input type="radio" name="radio_size"> XL
										</label>
									</div> 
								</div>
							</div> <!-- row.// -->
							<hr>
							<!-- Usar el ID del producto en el enlace de "Add to cart" -->
							<a href="{% url 'product-detail' product.id %}" class="btn btn-primary">
								<span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>
							</a>
						</article> <!-- content-body .// -->
					</main> <!-- col.// -->
				</div> <!-- row.// -->
			</div> <!-- card.// -->
			<!-- ============================ COMPONENT 1 END .// ================================= -->
			
			<br>
			
			<div class="row">
				<div class="col-md-9">
					<header class="section-heading">
						<h3>Reseñas de clientes</h3>  
					</header>
					
					{% for comment in comments %}
					<article class="box mb-3">
						<div class="icontext w-100">
							<!-- Usa una imagen de avatar o una imagen predeterminada -->
							<img src="{% static 'images/avatars/avatar1.jpg' %}" class="img-xs icon rounded-circle" alt="User Avatar">
							<div class="text">
								<span class="date text-muted float-md-right">{{ comment.created_at|date:"d.m.Y" }} </span>  
								<h6 class="mb-1">{{ comment.user.username }}</h6>
							</div>
						</div> <!-- icontext.// -->
						<div class="mt-3">
							<p>{{ comment.content }}</p>	
						</div>
					</article>
					{% empty %}
					<p>No comments yet.</p>
					{% endfor %}
				</div> <!-- col.// -->
			</div> <!-- row.// -->
			
			
		</div> <!-- container .//  -->
	</section>
{% endblock content %}
