{% extends 'base.html' %}
{% load static %}

{% block content %}
	<section class="section-conten padding-y" style="min-height:84vh">
		<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
		<div class="card-body">
			<div class="text-center">
				<img src="{% static 'images/icons/icone-login.png' %}" alt="Icone Login" style="width: 40px; height: auto; margin-bottom: 20px;">
			</div>
			<form id="login-form">
			<div class="form-group">
				<input id="email_i" type="email" class="form-control" placeholder="Email Address" required>
			</div>
			<div class="form-group">
				<input id="password_i" type="password" class="form-control" placeholder="Password" required>
			</div>
			<div class="form-group">
				<a href="#" class="float-right">Olvido su contraseña?</a> 
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block"> Entrar  </button>
			</div>    
		</form>
		</div>
		</div>
		<p class="text-center mt-4">¿No tienes cuenta? <a href="{% url 'register' %}">Regístrate</a></p>
	</section>
{% endblock content %}
